<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Laps">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
            <exclude>
                <directory suffix=".php">src/mustache/cache</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>