<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="vendor/autoload.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">src</directory>
    </include>
    <exclude>
      <directory suffix=".php">src/mustache/cache</directory>
    </exclude>
  </coverage>
  <testsuites>
    <testsuite name="Laps">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
