{{#timelines}}
    <div class="laps-timeline">
    	{{#events}}
    		<div class="event event-{{category}}" data-toggle="tooltip" title="{{description}}" style="width:{{width}}%; left:{{offset}}%;">
                <span class="sr-only">{{descriptiondescription}}</span>
            </div>
    	{{/events}}
    </div>
{{/timelines}}