<div class="laps-timeline">
	{{#events}}
		<div class="event event-{{category}}" data-toggle="tooltip" title="{{name}} - {{duration}} ms - {{memory}} MB" style="width:{{width}}%; left:{{offset}}%;"></div>
	{{/events}}
</div>

{{#savequeries}}
<div class="laps-timeline">
	{{#queries}}
		<div class="event event-{{category}}" title="{{sql}}" style="width:{{width}}; left:{{offset}}%;"></div>
	{{/queries}}
</div>
{{/savequeries}}

{{#savehttp}}
<div class="laps-timeline">
	{{#http}}
		<div class="event event-{{category}}" title="{{name}} - {{duration}} ms" style="width:{{width}}%; left:{{offset}}%;"></div>
	{{/http}}
</div>
{{/savehttp}}