@import (reference) "../../vendor/twbs/bootstrap/less/variables.less";
@import (reference) "../../vendor/twbs/bootstrap/less/mixins.less";
@import (reference) "../../vendor/twbs/bootstrap/less/progress-bars.less";
@import (reference) "../../vendor/twbs/bootstrap/less/scaffolding.less";
@import "variables.less";

#wpadminbar {

	#wp-admin-bar-laps {

		.ab-sub-wrapper {
			min-width: 90%;
			width:     90%;
			position:  fixed;
			left:      5%;
		}

		.ab-submenu {
			padding: 0;
		}
	}

	#wp-admin-bar-laps_output {

		padding: 0 10px;

		&:hover {
			background-color: transparent;
		}

		.ab-empty-item {
			display: none;
		}
	}

	.laps-timeline {
		.progress;
		margin:   6px 0;
		position: relative;

		.event {
			.progress-bar;
			position:    absolute; // disable stacking at start
			border-left: 1px solid @timeline-bg;
			min-width:   2px;
		}

		.event-php {
			background-color: @event-php-color;
		}
		.event-theme {
			background-color: @event-theme-color;
		}
		.event-plugin {
			background-color: @event-plugin-color;
		}
		.event-core {
			background-color: @event-core-color;
		}
		.event-sql-read {
			background-color: @event-sql-color;
		}
		.event-sql-write {
			background-color: @event-warning-color;
		}
		.event-http {
			background-color: @event-warning-color;
		}

		.sr-only {
			.sr-only;
		}
	}

	@import "../../vendor/twbs/bootstrap/less/tooltip.less";

	.tooltip.in {
		.opacity(1);
	}

	.tooltip-inner {
		line-height: 20px;
		text-align:  left;

		br {
			line-height: inherit;
		}
	}
}

