@font-size-small: 12px;
@line-height-computed: 20px;

// colors
@timeline-bg: #f5f5f5;
@event-php-color: #B10DC9;
@event-theme-color: #2ECC40;
@event-plugin-color: #0074D9;
@event-core-color: #FF851B;
@event-sql-color: #7FDBFF;
@event-info-color: #AAAAAA;
@event-warning-color: #FF4136;
@progress-bg: @timeline-bg;
@progress-bar-bg: @event-info-color;

// because admin bar is 99999
@zindex-tooltip: 100000;
@tooltip-max-width: 300px;
@tooltip-color: #eee;
@tooltip-bg: #464646;
@tooltip-arrow-width: 5px;
@tooltip-arrow-color: @tooltip-bg;
@border-radius-base: 4px;