{{#timelines}}
    <div class="laps-timeline">
    	{{#.}}
    		<div class="event event-{{category}}" data-toggle="tooltip" title="{{description}}" style="width:{{width}}%; left:{{offset}}%;">
                <span class="sr-only">{{description}}</span>
            </div>
    	{{/.}}
    </div>
{{/timelines}}